
#collapse-content{
  background-color: rgb(225, 231, 212);
  font-size: 20px;

}

.ant-collapse-header-text{
font-size: 20px;
color: aliceblue;
margin-left: 500px;
}
.ant-collapse-expand-icon {
color: aliceblue;
}